.letter {
	margin-left: 20%; margin-right: 20%;
	letter-spacing: 2px;
	max-width: 120ch; max-width: 64em;
	padding-bottom: 40px;
	
}

h1 {
	margin-top: 100px;
}

h2, h3 {
	margin-top: 70px;
}

h4 {
	margin-top: 30px;
}

p { 
	margin-top: 10px;
}

td {
	margin-left: 50px;
	min-width: 200px;
	text-align: left;
}
